<!DOCTYPE html>
<html>
    <head>
        <title>Fitness app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../static/style.css">
    </head>

    <body class="login_body">
        <!------------ Content section -------------->
        <main class="info_login_register">  
            <div class="formsection">             
                <form class="pages_form" id="change" method="POST" autocomplete="off">
                    <h2>CHANGE NAME</h2>

                    <section class="names_section">
                        <label for="firstname"><strong>NAME: </strong></label>
                        <input type="text" name="new_fname" id="firstname" placeholder="First Name*" minlength="2" maxlength="10" value="{{ form_data.get('new_fname', '') }}" required>
                        <input type="text" name="new_lname" id="lastname" placeholder="LastName*" minlength="2" maxlength="10" value="{{ form_data.get('new_lname', '') }}" required>
                    </section>


                    <section class="password_section">
                        <label for="password"><strong>PASSWORD:</strong></label>
                        <input type="password" name="password" id="password" minlength="5" maxlength="20" required>
                    </section>

                    <p class="accounts_error" ><strong>{{error}}</strong></p>


                    <div class="login_register">
                        <section class="register_box">
                            <a href="{{url_for('account')}}">BACK</a>
                        </section>

                        <section class="login">
                            <input type="submit" value="CHANGE">
                        </section>
                    </div>

                </form>
            </div>
        </main>
    </body>
</html>