<!DOCTYPE html>
<html>
    <head>
        <title>Fitness app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../static/style.css">
    </head>

    <body class="login_body">
        <!------------ Content section -------------->
            <main class="info_login_register">  
                <div class="formsection">
                    
                    <form class="pages_form" id="change" method="POST" autocomplete="off">
                        <h2>CHANGE PASSWORD</h2>
    
                        <section class="password_section">
                            <label for="password"><strong>OLD PASSWORD:</strong></label>
                            <input type="password" name="old_password" id="old_password" minlength="5" maxlength="20" value="{{ form_data.get('old_password', '') }}" required>
                        </section>

                        <p class="accounts_error"><strong>{{error}}</strong></p>

                        <section class="password_section">
                            <label for="password"><strong>PASSWORD:</strong></label>
                            <input type="password" name="new_password" id="new_password" minlength="5" maxlength="20" required>
                        </section>

                        <section class="password_section">
                            <label for="confirm_password"><strong>COMFIRM PASSWORD:</strong></label>
                            <input type="password" name="confirm_password" id="confirm_password" minlength="5" maxlength="20" required>
                        </section>

                        <p class="accounts_error"><strong>{{error_new}}</strong></p>


                        <div class="login_register">
                            <section class="register_box">
                                <a href="{{url_for('account')}}">BACK</a>
                            </section>

                            <section class="login">
                                <input type="submit" value="CHANGE">
                            </section>
                        </div>
                    </form>
            </main>
        </div>
    </body>
</html>