<!DOCTYPE html>
<html>
    <head>
        <title>Fitness app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../static/style.css">
    </head>

    <body>
        <!----------- Navigation section ------------>
        <nav class="no_nav">
            <div id="button">
                <button class="backbutton" onclick="goBack()" title="Go Back"></button>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>

        </nav>

        <!------------ Content section -------------->
        <main id="forgot_main">
            <p>If you forgot your username or password please contact the following people and we will respond as quickly as possible.</p>
            <p>Thank you for your patiences.</p>
            
            <section class="container_section">
                <div class="container">
                    <p><strong>Gaius Dukuly</strong></p>
                    <p>Email: gaius.dukuly001@umb.edu</p>
                    <p>Phone: 267-505-4493</p>
                </div>
                

                <div class="container">
                    <p><strong>Dana Cheng</strong></p>
                    <p>Email: Dana.cheng001@umb.edu</p>
                    <p>Phone: 267-867-2898</p>
                </div>

                <div class="container">
                    <p><strong>Birti Gebregziher</strong></p>
                    <p>Email: b.gebregziher001@umb.edu</p>
                    <p>Phone: 215-808-9055</p>
                </div>

                <div class="container">
                    <p><strong>Siraad Mohamud</strong></p>
                    <p>Email: siraad.mohamud001@umb.edu</p>
                    <p>Phone: 267-703-4187</p>
                </div>
            </section>  
              
        </main>
<!------------------ footer section -------------->
        <footer class="foot">
           
        </footer>

    </body>
</html>