<!DOCTYPE html>
<html>
    <head>
        <title>Fitness app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="../../static/style.css">
    </head>

    <body>
        <!----------- Navigation section ------------>
        <nav class="no_nav">
            <div id="button">
                <button class="backbutton" onclick="goBack()" title="Go Back"></button>

                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
            </div>

        </nav>

        <!------------ Content section -------------->
        <main id="about_main">
            <div class="footerpages_header">
                <h1>About Us</h1>
            </div>


            <div id="aboutus_contents">
                <img src="../../static/umass.png" class="umass_photo">
                <p>This project was created by 4 students from the University of Massachusetts Boston: Gaius Dukuly, Dana Cheng, Birti Gebregziher
                    and Siraad Mohamud. It was assigned by Simon Tran who is the professor of the IT 485 capstone class. The project began on February and
                    was completed over a 4 months period. Gaius and Birti was responsible for the front-end of the application and Dana and Siraad 
                    for the back-end. HTML&CSS was ulitize for the front-end to display and design the features of the application and Python and SQLalchemy
                    to apply those features (Internal and External APIs) using the data collected from the users. For further information and questions, you can contact
                    us through email or phone. 
                </p>             
            </div>

            <section class="container_section">
                <div class="container">
                    <p><strong>Gaius Dukuly</strong></p>
                    <p>Email: gaius.dukuly001@umb.edu</p>
                    <p>Phone: 267-505-4493</p>
                </div>
                

                <div class="container">
                    <p><strong>Dana Cheng</strong></p>
                    <p>Email: dana.cheng001@umb.edu</p>
                    <p>Phone: 267-867-2898</p>
                </div>

                <div class="container">
                    <p><strong>Birti Gebregziher</strong></p>
                    <p>Email: b.gebregziher001@umb.edu</p>
                    <p>Phone: 215-808-9055</p>
                </div>

                <div class="container">
                    <p><strong>Siraad Mohamud</strong></p>
                    <p>Email: siraad.mohamud001@umb.edu</p>
                    <p>Phone: 267-703-4187</p>
                </div>
            </section>  
        </main>


        <!------------------ footer section -------------->
        <footer class="foot">
           
        </footer>
   
    </body>
</html>